<h1>Search For a Movie</h1>

<form action="/results" method="GET">
    <!-- Need name attribute to take data from this form and plug it into API call -->
    <input type="text" placeholder="search term" name="search">
    <!-- Want this to submit to results route which will handle API call and rendering ejs template -->
    <input type="submit">
</form>